{
  "extends": ["standard", "standard-react"],
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "react-hooks/rules-of-hooks": "error"
  }
}